$--backgroung-color:#F0E9D0 ;
$--div-color:#EEECE5;
$--b-size:48px;
$--m-size:32px;
$--s-size:18px;
$--eng-font:"Helvetica","Arial";
$--chi-font:"微軟正黑體";
$--b-hl:60px;
$--m-hl:40px;
$--s-hl:20px;